.gpt__navbar {
    display: flex;
    justify-items: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.gpt__navbar-links {
    flex: 1;
    display: flex;
    justify-items: flex-start;
    align-items: center;

}

.gpt__navbar-links_logo {
    margin-right: 2rem;
}

.gpt_navbar-links_logo img {
    width: 62px;
    height: 16px;
}